* {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: black;
}

body {
  margin: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! GENERAL !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#app {
  margin: auto;
  width: 100%;
}

a {
  text-decoration: none;
  padding: 10px;
}

button {
  border-radius: 20px;
  background-color: #3d348b00;
  padding: 10px;
  border-style: solid;
}

a:hover, button:hover {
  cursor: pointer;
}

.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  padding: 0;
  position:absolute;
  top: 150px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! NAV BAR !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.navBar {
  margin: auto;
  padding: 0;
}

#navBarAdmin {
  background-color: #F35B04;
  position: absolute;
  width: 100%;
  min-width: 1200px;
}

#navBarUserGuest {
  background-color: #3D348B;
  position: absolute;
  width: 100%;
  min-width: 1200px;
}

.navBar h1 {
  color: white;
  padding: 30px;
  padding-left: 40px;
}

#navBarContents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  max-width: 1200px;
}

#navBarContents h1, #navBarContents a {
  min-width: fit-content
}

nav {
  display: flex;
}

.navLinks {
  display: flex;
  flex-direction: row;
  margin-right: 530px;
  align-items: center;
}

nav p, nav a, nav button {
  padding: 10px;
  margin: 1em;
  font-size: 1em;
  color: white;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
}

#initials {
  border: 2px solid white;
  border-radius: 50%
}

#initials:hover {
  background-color: green;
  box-shadow:4px 4px #7678ED;
}

#logoutBtn:hover {
  background-color: gray;
  box-shadow:4px 4px #7678ED;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! FORM !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

label {
  display: block;
  padding: 5px;
  width: fit-content
}

textarea {
  height: 4em;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! EDIT + ADD PRODUCT FORMS !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#editProductForm, #addProductForm, #editUserForm {
  background-color: #F7B801;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: 0px;
  border-radius: 0px 20px 20px 0px;
}

#editProductForm form, #addProductForm form {
  padding: 20px;
  width: fit-content;
}

#editProductForm h3, #addProductForm h3 {
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}

#editProductForm form input, #editProductForm form textarea, #addProductForm form input, #addProductForm form textarea {
  width: 300px;
}

.productBtn {
  margin-right: 10px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! PRODUCT BUTTONS !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#createProductBtn:hover, #editProductBtn:hover, #cancelEditBtn:hover, #deleteBtn:hover, #editBtn:hover, .smallViewAddBtn:hover, #addBtn:hover, #editAccountBtn:hover, .loginSignUpBtn:hover {
  color: white;
  border-color: #f7ba0100;
  background-color: #F35B04;
  box-shadow:4px 4px #7678ED;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! ALL PRODUCTS PAGE !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.selectSortAndFilter {
  display: flex;
  background-color: #7678ED;
  position: absolute;
  top: -12px;
  width: 725px;
  min-width: fit-content;
  padding-left: 15px;
  border-radius: 00px 0px 20px 0px;
}

.selectSortAndFilter div {
  margin: 20px;
  display: flex;
}

.selectSortAndFilter label {
  color: white
}

select {
  padding: 5px;
}

#productsPageAdminView {
  display: flex;
}

#allProductsAdminView, #allProductsUserGuestView {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: ; */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! SINGLE PRODUCTS !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.smallProductView {
  margin: 5px;
  width: 230px;
  height: 370px;
  border: 3px solid rgba(0, 0, 0, 0);
;}

.smallProductView:hover {
  border: 3px solid #F7B801;
  border-radius: 20px
;}

.smallProductView > * {
  margin: 0px;
  padding: 10px
}

.thumbnail {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px
}

.smallViewAddBtn {
  height: 30px;
  margin: auto;
}

.smallProductView > a {
  padding: 10px;
}

.smallProductView:hover {
  box-shadow:4px 4px #7678ED;
}

.smallProductViewInfo > * {
  padding: 0px 10px;
  margin: 3px
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! EXPANDED PRODUCT !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.goBack {
  /* padding-left: 25px; */
  padding: 0px 35px;
}

#goBackLinks {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 35px;
  padding-bottom: 20px;
}

#goBackLinks a {
  padding: 0;
  margin: 0;
}

.expandedProductInfo {
  margin: 0px 25px;
  display: flex;
}

.expandedProductInfo > * {
  margin-right: 30px;
}

.imgCarousel {
  width:fit-content;
}

.productInfo {
  width: 500px;
}

.scrollImages {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.scrollImages p {
  padding: 0px 10px;
}

.expandedImages {
  max-width: 460px;
  border-radius: 20px;
}

.imageScrollBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
}

.imageScrollBtn:hover {
  color:#F35B04;
  font-style: normal;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! SINGLE CART ITEM !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.cart-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!! ALLPRODUCTS + ALLUSERS TABLES (ADMIN) !!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

#allUsersTable td {
  width: 100%;
  font-size: 12px;
}

.usersTableCell {
  text-align: left;
  padding: 8px;
}

#productsTable > * {
  font-size: 12px;
}

thead {
  position:sticky
}

thead > *, thead tr td:hover {
  background-color: #F35B04;
}

tbody tr:hover {
  background-color: hsla(45, 99%, 49%, 0.15);
}

#id {
  width: 50px;
}

#productid {
  width: 30px;
}

#productprice {
  width: 50px;
}

#productinventory {
  width: 70px;
}

#adminDashboard {
  padding: 20px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! ADMIN HOME PAGE !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#productsUsersSummary {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0
}

#productsSummary, #usersSummary {
  width: 650px;
  height: 650px;
  margin: auto;
  overflow: scroll;
  padding: 0px;
  font-size: 12px;
}

.summaryHeader {
  background-color:#F7B801;
  width:auto;
  margin: 0;
  padding: 20px;
  position: sticky;
  top: 0;
  border-radius: 20px 20px 0px 0px;
  display: flex
}

.summaryHeader > * {
  margin: auto;
}

.summaryHeader a {
  padding: 0
}

th, thead {
  position: sticky;
  top: 0;
}

.summaryViews {
  margin: auto;
  padding-right: 40px;
  border-left: 2px solid #F7B801;
  border-radius: 25px 0px 0px 0px;
}

.summaryViews table {
  margin: 0;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! USER ACCOUNT DETAILS PAGE !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.userInfo {
  display: flex;
  /* border: 2px solid green; */
  /* margin: 30px; */
}

#accountDetails, #orderHistory {
  margin: 20px;
  border: 2px solid #F7B801;
  border-radius: 25px 25px 0px 0px;
}

#userDetailsTable, #orderHistory {
  width: 500px;
}

#orderHistoryTable {
  width: 100%;
  padding: 0px
}

#userDetailsTable {
  margin: 20px;
}

#userDetailsTable td, #orderHistoryTable td, #orderHistoryTable th {
  padding: 8px;
  font-size: 12px;
}

#orderHistoryTable td, #orderHistoryTable th {
  text-align: center;
}

.accountProperty {
  width: 125px;
}

#userDetailsTable tr:hover {
  background: white;
}

#orderNum {
  width: 75px;
}

#dateSubmitted {
  width: 175px;
}

#editAccountBtn {
  margin: 20px;
}

.userInfo h2 {
  padding: 20px;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  background-color: #F7B801;
}

li {
  list-style: none;
}

ul a {
  padding: 0px;
}

ul a:hover {
  background-color: white;
}

#noOrderHistory {
  text-align: center;
  font-size: 12px;
  padding-top: 20px
}

#editUserFormBtns {
  padding-top: 20px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!! LOGIN + REGISTER PAGES !!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#registerPage, #loginPage {
  margin-left: 35px;
}

.loginSignUpBtn {
  margin-top: 20px;
}